services:
  n8n:
    image: docker.n8n.io/n8nio/n8n
    container_name: n8n
    restart: unless-stopped
    volumes:
      - ${DATA_PATH}:/home/node/.n8n
    # This line is now active. It maps the container's internal port 5678
    # to port 5678 on your Debian VM's IP address (192.168.68.86).
    ports:
      - '127.0.0.1:5678:5678'
    environment:
      - N8N_HOST=${HOST}
      - N8N_PROTOCOL=https
     # - N8N_SECURE_COOKIE=false
      - WEBHOOK_URL=${WEBHOOK}
      - TZ=Europe/Oslo
      - GENERIC_TIMEZONE=Europe/Oslo
      - N8N_RUNNERS_ENABLED=true #Futureproofing for soon-to-be-deprecated feature
      - N8N_TRUST_PROXY=true #if behind a proxy service - allows n8n to trust the proxy
      - N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true #Tries to set correct permissions
    # The 'networks' section has been removed to use the standard Docker networking.

    networks:
      - proxy-net

networks:
  proxy-net:
    external: true
