services:
  bentopdf:
    image: bentopdf/bentopdf:latest
    container_name: bentopdf
    ports:
      - '3363:8080'
    restart: unless-stopped 
    networks:
      - proxy-net
networks:
  proxy-net:
    external:
      name: proxy-net
