services:
  openwebui:
    image: ghcr.io/open-webui/open-webui:git-2b26355

    container_name: openwebui
    depends_on:
      - postgres
      - qdrant
      - litellm
    environment:
      - TZ=${TZ}
      - WEBUI_SECRET_KEY=${OWUI_SECRET}
      - DATABASE_URL=${OWUI_DB_URL}
      - ENABLE_RAG_EMBEDDING=true
      - RAG_VECTOR_DB=qdrant
      - QDRANT_URL=http://qdrant:6333
      - OPENAI_API_BASE_URL=http://litellm:4000
      - OPENAI_API_KEY=${LITELLM_CLIENT_KEY}
      - DEFAULT_MODEL=gpt-5
      - FILE_MAX_SIZE_MB=200
      #Authentik
      - OAUTH_CLIENT_ID=${OWUI_OAUTH_CLIENT_ID}
      - OAUTH_CLIENT_SECRET=${OWUI_OAUTH_CLIENT_SECRET}
      - OAUTH_PROVIDER_NAME=Authentik
      - OAUTH_SCOPES=openid email profile
      - OPENID_PROVIDER_URL=${OPENID_PROVIDER_URL}
      - OPENID_REDIRECT_URI=${OPENID_REDIRECT_URI}
      - WEBUI_URL=${WEBUI_URL}
      - ENABLE_OAUTH_SIGNUP=true
      - ENABLE_LOGIN_FORM=false #Allows username/pw login - must be disabled with enable_oauth_signup=true
      - OAUTH_MERGE_ACCOUNTS_BY_EMAIL=true
      
    volumes:
      - ${CHATSTACK_PATH}/openwebui/data:/app/backend/data
    ports:
      - "127.0.0.1:${OWUI_PORT}:8080"

    networks:
      - proxy-net
      - chatstack
    restart: unless-stopped



  litellm:
    image: ghcr.io/berriai/litellm:main-latest
    container_name: litellm
    environment:
      - TZ=${TZ}
      - LITELLM_LOG=${LITELLM_LOG}
      - LITELLM_MASTER_KEY=${LITELLM_MASTER_KEY}
      - LITELLM_SALT_KEY=${LITELLM_SALT_KEY}
      - DATABASE_URL=${LITELLM_DB_URL}
      - STORE_MODEL_IN_DB=True
      - LITELLM_PORT=${LITELLM_PORT}
      - GOOGLE_API_KEY=${GOOGLE_API_KEY}

    command: ["--config", "/config/config.yaml", "--host", "0.0.0.0", "--port", "${LITELLM_PORT}"]
    volumes:
      - ${CHATSTACK_PATH}/litellm:/config
    ports:
      - "127.0.0.1:${LITELLM_PORT}:${LITELLM_PORT}"  # bind to localhost for safety
    networks:
      - chatstack
      - proxy-net
    restart: unless-stopped

  postgres:
    image: postgres:16-alpine
    container_name: postgres
    environment:
      - TZ=${TZ}
      - POSTGRES_DB=${POSTGRES_DB}

      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - ${CHATSTACK_PATH}/postgres/data:/var/lib/postgresql/data
    networks:
      - chatstack
    restart: unless-stopped

  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    environment:
      - TZ=${TZ}
    volumes:
      - ${CHATSTACK_PATH}/qdrant/storage:/qdrant/storage
#    ports:
#      - "127.0.0.1:${QDRANT_PORT}:6333"
    networks:
      - chatstack
    restart: unless-stopped

networks:
  chatstack:
    name: chatstack
  proxy-net:
    external:
      name: proxy-net
