##duckdns ENV
SECRET_TOKEN= #your-token-from-DuckDNS
DOMAINS= subdomain1,subdomain2 #,... etc. from DuckDNS
##PiHole
PIHOLE_PW='yourPiHole Admin GUI PW of choice'	
ETC_PIHOLE=/path-to-your-docker/pihole/etc-pihole
