# More info at https://github.com/pi-hole/docker-pi-hole/ and https://docs.pi-hole.net/
services:
#DUCKDNS  
  duckdns:
    image: lscr.io/linuxserver/duckdns:latest
    container_name: duckdns
    network_mode: host #optional
    environment:
      - PUID=1026 #optional
      - PGID=1026 #optional
      - TZ=Europe/Oslo #optional
      - SUBDOMAINS=${DOMAINS} #Subdomains of duckdns.org to update
      - TOKEN=${SECRET_TOKEN} #Token from DuckDNS site
      - UPDATE_IP=ipv4 #optional
      - LOG_FILE=false #optional
    volumes:
      - ./duckdns:/config #optional
    restart: unless-stopped

#PIHOLE SINKHOLE
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    ports:
      # DNS Ports
      - "53:53/tcp"
      - "53:53/udp"
      # Default HTTP Port
      - "8088:80/tcp"
      # Default HTTPs Port. FTL will generate a self-signed certificate
#      - "443:443/tcp"
      # Uncomment the below if using Pi-hole as your DHCP Server
      #- "67:67/udp"
    environment:
      # Set the appropriate timezone for your location (https://en.wikipedia.org/wiki/List_of_tz_database_time_zones), e.g:
      TZ: 'Europe/Oslo'
      # Set a password to access the web interface. Not setting one will result in a random password being assigned
      FTLCONF_webserver_api_password: ${PIHOLE_PW}

    # Volumes store your data between container upgrades

      # For persisting Pi-hole's databases and common configuration file
    volumes:
      - '${ETC_PIHOLE}:/etc/pihole'
      - '${ETC_DNSMASQ}:/etc/dnsmasq.d'

    cap_add:
      # See https://github.com/pi-hole/docker-pi-hole#note-on-capabilities
      # Required if you are using Pi-hole as your DHCP server, else not needed
      - NET_ADMIN
    restart: unless-stopped

    networks:
      - proxy-net
      
#CLOUDFLARE DDNS SERVICE



  cloudflare-ddns-vpn:
    image: favonia/cloudflare-ddns:latest
    container_name: cloudflare-ddns-vpn
    restart: unless-stopped
    environment:
      - CLOUDFLARE_API_TOKEN=${CF_API}
      - DOMAINS=${CF_SUB_VPN} #Subdomain in full
      - PROXIED=true
      - IP6=off
      - IP6_PROVIDER=none
      - CF_MAIN=${CF_MAIN}
    dns:
      - 1.1.1.1
      - 8.8.8.8

#CLOUDFLARE TUNNEL
  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflare-tunnel-${CF_MAIN}
    restart: unless-stopped
    network_mode: host
    
    # These are the capabilities you configured in the GUI
    cap_add:
      - AUDIT_WRITE
      - CHOWN
      - DAC_OVERRIDE
      - FOWNER
      - FSETID
      - KILL
      - MKNOD
      - NET_BIND_SERVICE
      - NET_RAW
      - SETPCAP
      - SETGID
      - SETUID
      - SYS_CHROOT

    # This is the execution command split into entrypoint and command
    # IMPORTANT: Replace the placeholder below with your actual, full token
    entrypoint: cloudflared --no-autoupdate
    command: tunnel run --token ${TUNNEL_TOKEN}

    # Environment variables from your setup
    environment:
      - PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
      - SSL_CERT_FILE=/etc/ssl/certs/ca-certificates.crt

networks:
  proxy-net:
    external: true
